@import "tailwindcss";

@layer base {
  body {
    @apply m-0 text-[2rem] h-[100dvh] sm:text-base bg-gray-100;
  }
  #root {
    @apply h-[100dvh];
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
